body {
    font-family: Helvetica, Arial, sans-serif;
}

.left-column {
    background-color: lightblue;
    border: 10px
}

.header {
    background-color: gray;
    color: white;
    font-size: 30px;
    display: flex;
    height: 50px; 
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.btn {
    background-color: blue;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 5px;
}