body {
    font-family: Helvetica, Arial, sans-serif;
}

.header {
    background-color: gray;
    color: white;
    font-size: 30px;
    display: flex;
    height: 50px; 
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.btn {
    background-color: blue;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.bold {
    font-size: 20px;
    font-weight: bold;
}

.green {
    background-color: green;
    color: white;
    height: 25px;
    width: 35px;
}